<template id="range--template">
    <input type="range" class="custom-range" data-bind="
        attr: { min: Min, max: Max, step: Step },
        textInput: Value,
        autoBsTooltip: HelpText">
    <label>Search Depth: <span data-bind="text: Text"></span></label>
</template>