/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

:disabled {
    cursor: default;
}

.cursor-default {
    cursor: default;
}

.modal.import-references .ui-autocomplete .ui-menu-item {
    padding: 3px 8px;
    border-top: 1px solid #ccc;
}

.projects-table td {
    white-space: nowrap;
}

.projects-table {
    table-layout: fixed;
}

/* Loader */

.loader {
    position: absolute;
    left: 0;
    top: 0;

    min-width: 100%;
    min-height: 100%;

    z-index: 1000;
    background-color: rgba(0, 0, 0, .6);
}

.loader .spinner-border {
    width: 6rem;
    height: 6rem;
}