<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EasyCite</title>
    @* TODO: bundle and minify *@
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" />
    <link rel="stylesheet" href="~/lib/jqueryui/jquery-ui.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3 navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">EasyCite</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex">
                    <div class="navbar-nav flex-grow-1">
                        <a class="nav-item nav-link" asp-controller="Home" asp-action="Index" asp-nav>Home</a>
                        <a class="nav-item nav-link" asp-controller="Projects" asp-action="Index" asp-nav>Projects</a>
                    </div>
                    <div class="navbar-nav">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <a class="nav-item nav-link" asp-controller="Account" asp-action="Logout">Logout</a>
                        }
                        else 
                        {
                            <a class="nav-item nav-link" asp-controller="Account" asp-action="Login">Login</a>
                        }
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <main role="main" class="pb-3">
        @RenderBody()
    </main>

    <footer class="pt-3 border-top footer text-muted">
        <div class="container">
            &copy; 2020 - EasyCite
        </div>
    </footer>
    @* TODO: bundle and minify *@
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jqueryui/jquery-ui.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="~/lib/knockout/knockout-latest.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("scripts", required: false)
    @RenderSection("koApplyBindings", required: false)
</body>
</html>
