<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EasyCite</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    @* TODO: minify *@
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <nav class="navbar navbar-dark bg-dark navbar-fixed-top navbar-expand-lg">
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">EasyCite</a>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="nav-item">
                    <a asp-controller="Home" asp-action="Index" class="nav-link">Home</a>
                </li>
            </ul>
        </div>
    </nav>

    @RenderBody()
    <div class="container">
        <hr />
        <footer>
            <p>&copy; 2020 - EasyCite</p>
        </footer>
    </div>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    @* TODO: minify *@
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script src="~/lib/knockout/knockout-3.5.1.js"></script>

    @RenderSection("Scripts", false)
</body>
</html>
